<header class="bg-zinc-900 flex flex-col md:flex-row  p-20 gab-3 text-center md:text-left rounded-xl">
   <div>
    <h1 class="text-5xl font-bold pb-2 justify-center">protect your password</h1>
    <p class="my-4 text-2">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, voluptas.
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400"> Start Now </button>
   </div>
   <img src="images/finger.svg" alt="imagen de ejemplo" class="w-80 py-5 ml-10">
</header>