---
import Layouts from "../layouts/Layouts.astro";
---


<Layouts title=' acerca del tittulo'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta nisi, iure odit soluta maiores iusto delectus fuga aliquam nesciunt aspernatur illo modi optio numquam ad, rerum laborum similique, fugit sapiente?</p>
</Layouts>